<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="weight" (click)="setSelectedTab('weight')">
        <ion-label>Weight</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="bmi" (click)="setSelectedTab('bmi')">
        <ion-label>BMI</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="bodyFat" (click)="setSelectedTab('bodyFat')">
        <ion-label>Body Fat Percentage</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

    <ion-tab class="chart-container">
      <app-progress-chart [chartData]="chartData"></app-progress-chart>
    </ion-tab>
  </ion-tabs>
</ion-content>
