.button-group {
  display: flex;
  justify-content: space-around;
  margin: 200px 0;
}

ion-tab-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-tab-button {
  flex: 1;
  text-align: center;
  max-width: none;
  padding: 10px 0;
  font-weight: bold;
  color: white;
}

ion-label {
  font-size: 14px;
}

ion-tab-button[tab='weight'] {
  background-color: purple;
}

ion-tab-button[tab='bmi'] {
  background-color: #318734;
}

ion-tab-button[tab='bodyFat'] {
  background-color: #1663a1;
}

ion-tab-button:hover {
  opacity: 0.9;
}

ion-tab-button.ion-activated {
  border-bottom: 2px solid white;
}

ion-content {
  --padding-top: 56px;
}

.selected-segment {
  background-color: rgb(100, 76, 10) !important;
  color: white !important;
  border-radius: 8px;
}
