/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

.dark-theme {
  --ion-color-primary: #717884;
  --ion-color-secondary: rgb(219, 215, 215);
  --ion-background-color: black;
  --ion-text-color: #ffffff;
}

.dark-theme ion-icon {
  color: var(--ion-icon-color, #ffffff) !important;
}

.dark-theme ion-datetime {
  --background: black;
}

.dark-theme ion-datetime::part(time-button) {
  background: grey !important;
  color: white !important;
  border-radius: 8px;
}

.dark-theme ion-label {
  color: rgb(183, 181, 181);
}

.dark-theme ion-button {
  color: rgb(183, 181, 181);
}

.dark-theme ion-toggle {
  color: #ff4081;
}

.dark-theme canvas {
  background-color: rgb(225, 225, 225);
}

.dark-theme .item-row {
  border-bottom: 1px solid #4d4d4d;
}

.dark-theme th {
  background-color: blueviolet !important;
}

.dark-theme .alert-radio-label,
.dark-theme .alert-checkbox-label {
  color: #ffffff !important; /* action sheet or alert mode */
}

.dark-theme .delete-alert .alert-message {
  color: lightgrey;
}

.custom-toast {
  --border-radius: 12px;
  --box-shadow: 0px 4px 10px #4d4d4d;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 12px 16px;
}

.warning-text {
  color: #d8000c;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 12px;
  background: #fff3f3;
  border-left: 5px solid #d8000c;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  margin: 10px auto; /* center text */
}

.delete-alert .alert-message {
  font-size: 18px;
  text-align: center;
  color: black;
}
