<ion-content>
  <ion-grid>
    <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
      <ion-row>
        <ion-col>
          <ion-item class="item-row">
            <ion-label position="stacked">User Name</ion-label>
            <ion-input type="text" placeholder="Please input your name" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="item-row">
            <ion-label position="stacked">Date of Birth</ion-label>
            <ion-datetime
              formControlName="dateOfBirth"
              presentation="date"
              placeholder="Select Date"
              [max]="maxDate"
              required
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="item-row">
            <ion-label position="stacked">Gender</ion-label>
            <ion-select formControlName="gender" [(ngModel)]="selectedGender" interface="popover">
              <ion-select-option value="male">Male</ion-select-option>
              <ion-select-option value="female">Female</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="item-row">
            <ion-label position="stacked">Height</ion-label>
            <ion-input type="number" placeholder="Please input your height" formControlName="height"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" [disabled]="!profileForm.valid">Save Profile</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
