<ion-content>
  <ion-grid>
    <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
      <ion-row>
        <ion-col>
          <ion-item class="item-row">
            <ion-label position="stacked">User Name</ion-label>
            <ion-input type="text" placeholder="Please input your name" formControlName="userName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="item-row">
            <ion-label position="stacked">Age</ion-label>
            <ion-picker [formControl]="ageControl" (ionChange)="onAgeChange($event)">
              <ion-picker-column>
                <ion-picker-column-option *ngFor="let age of ageOptions" [value]="age.value">
                  {{ age.text }}
                </ion-picker-column-option>
              </ion-picker-column>
            </ion-picker>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="item-row">
            <ion-label position="stacked">Gender</ion-label>
            <ion-select formControlName="gender" [(ngModel)]="selectedGender" interface="popover">
              <ion-select-option value="male">Male</ion-select-option>
              <ion-select-option value="female">Female</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="item-row">
            <ion-label position="stacked">Height</ion-label>
            <ion-picker [formControl]="heightControl" (ionChange)="onHeightChange($event)">
              <ion-picker-column>
                <ion-picker-column-option *ngFor="let height of heightOptions" [value]="height.value">
                  {{ height.text }}
                </ion-picker-column-option>
              </ion-picker-column>
            </ion-picker>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" [disabled]="!profileForm.valid">Save Profile</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
